<div class="flex-row">
  <div class="flex-1">
    <ul id="player-data">
      <ul class="player" *ngFor="let player of this.game()?.players; let i = index" [style]="i == playerId ? 'color: blue;' : 'color: auto;'">
        <span class="waiting">{{ this.game()?.responses[i] != "" ? "&#10004;" : "" }}</span>
        <span class="username" [style.textDecoration]="i === this.game()?.judge ? 'underline' : 'none'" data-test="playerName">{{ player }}</span>
        <span class="player-number">Player {{ i + 1 }}</span>
        <span class="score">{{ this.game()?.scores[i] }} {{ this.game()?.scores[i] == 1 ? "pt" : "pts" }}</span>
        <span class="previous">{{ this.game()?.pastResponses[i] }}</span>
      </ul>
    </ul>
    <div class="join-field" [style]="playerId == null ? 'display: block' : 'display: none'">
      <div class="join-text">Join as new player</div>
      <input id="name-input" matInput type="text" [(ngModel)]="usernameInput" placeholder="Enter a username">
      <button id="name-button" mat-raised-button color="primary" (click)="submitUsername()">Join</button>
      <br>
      <div class="join-text">Rejoin:</div>
      <input id="rejoin-input" matInput type="text" [(ngModel)]="playerIdInput" placeholder="Enter your player number">
      <button id="rejoin-button" mat-raised-button color="primary" (click)="submitPlayerId()">Join</button>
    </div>
    <div [style]="playerId == null ? 'display: none' : 'display: block'">
      <div id="prompt">{{ this.game()?.responses[this.game()?.judge] }}</div>
      <ul id="responses" [style]="responsesReady() && playerId == this.game()?.judge ? 'display: flex' : 'display: none'">
        <li class="response" *ngFor="let response of getResponses(); index as i"><button style="font-size: 1em;" (click)="selectResponse(i)">{{ response }}</button></li>
      </ul>
      <ul id="responses" [style]="responsesReady() && playerId != this.game()?.judge ? 'display: flex' : 'display: none'">
        <li class="response" *ngFor="let response of getResponses(); index as i">{{ response }}</li>
      </ul>
      <div id="response-field">
        <input id = "response-input" matInput type="text" [(ngModel)]="response" [placeholder]="this.game()?.judge == this.playerId ? 'Enter a prompt.' : 'Enter a response.'">
        <input id = "response-button" type="submit" value="Submit" (click)="submitResponse()" (click)="openSnackBar('Submitted','Dismiss')">
      </div>
    </div>
  </div>
</div>
