<div class="flex-row">
  <div class="flex-1">
    <mat-card class="home-card">
      <mat-form-field>
        Username:
        <input matInput type="text" [(ngModel)]="usernameInput" placeholder="Enter your username">
        <button mat-raised-button color="primary" (click)="submitUsername()">Submit Username</button>
      </mat-form-field>
    </mat-card>
    <h1 *ngIf="isPromptSubmitted" style="margin: 0 5%">{{ displayedPrompt }}</h1>
    <ul style="float: right; width: 25%; color: green">
      <li *ngFor="let player of this.game()?.players; let i = index">
        {{ this.game()?.scores[i] }} - {{ player }}
      </li>
    </ul>
    <ul style="display: flex"><li *ngFor="let response of this.game()?.responses; index as i"><button style="font-size: 1em;" (click)="selectResponse(i)"> {{ response }}</button></li></ul>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="submission">
      <input type="submit" value="Submit Prompt" (click)="submitPrompt()">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="response">
      <input type="submit" value="Submit Response" (click)="submitResponse()">
    </mat-form-field>
  </div>
</div>
