<div class="flex-row">
  <div class="flex-1">
    <ul style="position: fixed; right: 2%; text-wrap: nowrap">
      <ul class="player" *ngFor="let player of this.game()?.players; let i = index;" [style]="this.game().connectedPlayers[i] == false ? 'color: red;' : 'color: auto;'" [style]="i == this.playerId ? 'color: blue;' : 'color: auto;'">
        <span class="playerNumber">Player: {{ i + 1 }}</span>
        <span class="score">{{ this.game()?.scores[i] }} <span>{{ this.game()?.scores[i] == 1 ? "point" : "points" }}</span></span>
        <span class="username" [style.textDecoration]="i === this.game()?.judge ? 'underline' : 'none'">{{ player }}</span>
        <span class="previous">{{ this.game()?.pastResponses[i] }}</span>
      </ul>
    </ul>
    <div id="join-field" [style]="playerId == null ? 'display: block' : 'display: none'">
      Join Game:
      <input id="name-input" matInput type="text" [(ngModel)]="usernameInput" placeholder="Enter your username">
      <button id="name-button" mat-raised-button color="primary" (click)="submitUsername()">Submit Username</button>
    </div>
    <div [style]="playerId == null ? 'display: none' : 'display: block'">
      <div id="prompt">{{ this.game()?.responses[this.game()?.judge] }}</div>
      <ul [style]="responsesReady() && playerId == this.game()?.judge ? 'display: flex' : 'display: none'">
        <li class="response" *ngFor="let response of getResponses(); index as i"><button style="font-size: 1em;" (click)="selectResponse(i)">{{ response }}</button></li>
      </ul>
      <ul [style]="responsesReady() && playerId != this.game()?.judge ? 'display: flex' : 'display: none'">
        <li class="response" *ngFor="let response of getResponses(); index as i">{{ response }}</li>
      </ul>
      <div id="response-field">
        <input id = "response-input" matInput type="text" [(ngModel)]="response">
        <input id = "response-button" type="submit" value="Submit" (click)="submitResponse()">
      </div>
    </div>
  </div>
</div>
